header {
    width: 100%;
    padding: 28px 8%;
}

#cabecalho {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #022840;
    position: fixed; /* Mantém o cabeçalho fixo na tela */
    top: 0; /* Fica no topo da página */
    left: 0;
    width: 100%; /* Ocupa toda a largura da página */
    z-index: 1000;
}

#nav-list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    position: relative; /* Necessário para posicionar a barra de ativação */
    padding: 8px 0; /* Espaço para a barra de ativação */
}

.nav-item a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #88DFF2; /* Cor da barra de ativação */
    transition: width 0.3s ease-in-out; /* Transição suave */
}

.nav-item a.active::after,
.nav-item a:hover::after {
    width: 100%; /* Barra de ativação total */
}

.nav-item a.active {
    color: #88DFF2; /* Cor para o link ativo */
}

#mobile-menu {
    display: none;
    margin-top: 60px;
    position: fixed;
}

@media screen and (max-width: 800px) {
    #nav-list {
        display: none;
    }

    #mobile-btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 0; /* Inicialmente fechado */
        overflow: hidden; /* Esconde conteúdo ao fechar */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #022840;
        z-index: 1000;
        opacity: 0; /* Inicialmente invisível */
        transform: translateY(-20px); /* Ligeiramente acima */
        transition: all 0.4s ease; /* Suave transição de altura, opacidade e posição */
    }

    #mobile-menu.active {
        height: 350px; 
        opacity: 1; 
        font-size: 1.8rem;
        transform: translateY(0); 
    }

    #mobile-nav-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile-nav-list .nav-item {
        list-style: none;
        text-align: center;
    }

    #mobile-menu a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
    }

    #mobile-menu a:hover {
        color: #88DFF2;
    }
}