*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #022840;
}

h1, h2, h4, p, h3{
    color: #fff;
}


a{
    text-decoration: none;
}

#mobile-btn{
    display: none;
}

#mobile-menu{
    display: none;
}

#hero-section {
    display: flex;
    height: 100vh;
    padding: -200px;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0px 50px 50px;
}

#bloco-hero-section{
    display: flex;
    width: 90%;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 150px;
    
}

#texto-hero-section {
    width: 420px;
    height: 300px;
    gap: 10px;
}

.social-links{
    padding-top: 10px;
}

#links-icones{
    display: flex;
    justify-content: space-between;
    width: 140px;
}

#texto-hero-section h1, #sobre-section h1, #bloco-projetos-section h1, #bloco-habilidades h1 {
    font-size: 3rem;
}

#texto-hero-section img{
    fill: #fff;
}

#dynamic-text {
    color: #88DFF2;
    font-weight: bold;
    border-right: 2px solid #88DFF2;
    display: inline-block;
    animation: blink 0.7s step-end infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.social-links{
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 20px;    
}

.icon {
    width: 60px; /* Defina um tamanho padrão para todos os ícones */
    height: 60px;
    fill: white; /* Cor padrão para os ícones */
    transition: transform 0.3s, fill 0.3s; /* Efeitos visuais */
}

.icon:hover {
    fill: #88DFF2; /* Alterar cor ao passar o mouse */
    transform: scale(1.1); /* Pequeno efeito de zoom */
}

.social-links button{
    width: 230px;
    height: 60px;
    font-size: 1.5rem;
    background-color: #024873;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.social-links button:hover{
    background-color: #0A0C0D;
    transform: scale(1.05);
}

#sobre-section{
    height: 100vh;
    background-color: #0A0C0D;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#texto-section-sobre{
    width: 728px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

#texto-section-sobre p{
    font-size: 20px;
}

.destaque{
    color: #0A8CBF;
}

#icons-sobre{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    gap: 20px;
}

#icons-sobre img{
    width: 50px;
    height: 60px;
    transition: transform 0.3s ease;
}

#icons-sobre img:hover {
    transform: scale(1.1); /* Leve aumento no tamanho */
}

#projetos-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 240vh;
}

#bloco-projetos-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
}

#bloco-projetos-section h1{
    padding: 40px;
}


.linha-grade{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    gap: 50px;
    height: 700px;
}

.projeto img{
    width: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
    transition: transform 0.3s ease-in-out; 
}

.projeto{
    width: 401px;
    height: auto;
    background-color: #024873;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Garante que a imagem não ultrapasse os limites da div */
    position: relative; /* Necessário para o controle do conteúdo dentro do contêiner */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bloco-texto-projeto{
    width: 100%;
    height: 100%;
}

.icones-texto-projeto{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.texto-projeto img{
    width: 30px;
}


.projeto:hover img {
    transform: scale(1.1); /* Aplica o zoom quando o mouse está sobre o elemento */
}

.texto-projeto{
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 0;
    height: 170px;
    gap: 8px;
}

.buttons-projeto{
    display: flex;
    height: 20%;
    padding: 20px;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.buttons-projeto button{
    background-color: #88DFF2;
    color: #0A0C0D;
    width: 120px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.buttons-projeto button:hover{
    background-color: #0A0C0D;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#habilidades-section{
    height: 110vh;
    width: 100%;
    background-color:#0A0C0D;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#habilidades-section h1{
    padding: 20px;
}

#bloco-habilidades{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#container-cards{
    width: 85%;
    height: 95%;
    display: flex;
    flex-direction: row;
}

#container-tecnologias {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Necessário para a posição da linha */
}

#container-estudos {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Necessário para a posição da linha */
}

/* Linha personalizada */
.linha-borda {
    position: absolute;
    width: 2px; /* Espessura da linha */
    background-color: #fff; /* Cor da linha */
    height: 80%; /* Tamanho da linha relativo ao container */
    top: 10%; /* Centraliza verticalmente */
}

/* Linha no container de tecnologias (lado direito) */
#container-tecnologias .linha-borda {
    right: 0; /* Alinha a linha à direita */
}

/* Linha no container de estudos (lado esquerdo) */
#container-estudos .linha-borda {
    left: 0; /* Alinha a linha à esquerda */
}

#container-tecnologias h2, #container-estudos h2{
    padding: 20px;
}

.linha-tecnologia{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 160px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-bottom: 30px;
}

.tecnologias{
    color: #fff;
    border: 2px solid #fff;
    border-radius: 12px;
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; 
    font-size: 18px;
}















@media screen and (max-width: 1300px){
    #hero-section{
        margin-top: 70px;
        height: 100vh;
        margin-bottom: 100px;
    }
    
    #bloco-hero-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 70px;
        width: 80%;
        font-size: 0.5rem;
        color: #024873;
    }
    #bloco-hero-section img{
        width: 50%;
    }

    #texto-hero-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 70%;
    }

    #sobre-section{
        display: flex;
        flex-direction: column;
        height: 150vh;
    }

    #texto-section-sobre{
        display: flex;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .linha-grade{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .projeto{
        height: 100%;
        width: 600px;
        border-radius: 20px;
    }

    .texto-projeto{
        margin-top: 10px;
    }

    @media screen and (max-width: 800px){
        #hero-section{
            height: 140vh;
            margin-top: 0;
            margin-bottom: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            align-items: center;
        }
        
        #bloco-hero-section{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            gap: 70px;
            height: 70%;
            width: 90%;
            font-size: 0.5rem;
            color: #024873;
        }

        #bloco-hero-section img{
            width: 100%;
            margin-top: 100px;
        }

        #bloco-hero-section h1{
            font-size: 2.1rem;
            width: 300px;
            height: 500px;
        }

        .social-links{
            display: flex;
            flex-direction: column;
        }

        #links-icones{
            display: flex;
            flex-direction: row;
            gap: 30px;
        }

        #sobre-section{
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        #imagem-principal-sobre img{
            width: 300px;
            display: flex;
            align-items: center;
        }
        
        #icons-sobre img{
            width: 40px;
        }

        #texto-section-sobre{
            width: 80%;
            height: 500px;
        }

        .projeto{
            width: 80%;
            height: 500px;
        }

        .texto-projeto{
            height: 200px;
            padding-bottom: 120px;
        }

        .buttons-projeto{
            padding-top: 80px;
        }


    }
}