*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #022840;
}

h1, p{
    color: #fff;
}

a{
    text-decoration: none;
}

#mobile-btn{
    display: none;
}

#mobile-menu{
    display: none;
}

#hero-section {
    display: flex;
    height: 100vh;
    padding: -200px;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0px 50px 50px;
}

#bloco-hero-section{
    display: flex;
    width: 90%;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 150px;
}

#texto-hero-section {
    width: 550px;
    height: 300px;
    margin-bottom: 20px;
    gap: 10px;
}

#texto-hero-section h1, #sobre-section h1 {
    font-size: 3rem;
}

#texto-hero-section img{
    fill: #fff;
}

#dynamic-text {
    color: #88DFF2;
    font-weight: bold;
    border-right: 2px solid #88DFF2;
    display: inline-block;
    animation: blink 0.7s step-end infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.social-links{
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 20px;    
}

.icon {
    width: 60px; /* Defina um tamanho padrão para todos os ícones */
    height: 60px;
    fill: white; /* Cor padrão para os ícones */
    transition: transform 0.3s, fill 0.3s; /* Efeitos visuais */
}

.icon:hover {
    fill: #88DFF2; /* Alterar cor ao passar o mouse */
    transform: scale(1.1); /* Pequeno efeito de zoom */
}

.social-links button{
    width: 230px;
    height: 60px;
    font-size: 1.5rem;
    background-color: #024873;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.social-links button:hover{
    background-color: #0A0C0D;
    transform: scale(1.05);
}

#sobre-section{
    height: 100vh;
    background-color: #0A0C0D;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#texto-section-sobre{
    width: 728px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

#sobre-section img{
    width: 30%;
}

#texto-section-sobre p{
    font-size: 20px;
}

.destaque{
    color: #0A8CBF;
}

#icons-sobre{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
}

#icons-sobre img{
    width: 50px;
}
